<h1 class="text-center">Welcome to Ghostly Estates</h1>
<div class="container mt-4">
  <a routerLink="/add-house" class="btn btn-primary mb-3" >Add New House</a>
  <div class="row">
    <div
      *ngFor="let house of hauntedHouses"
      class="col-md-4 mb-4 d-flex align-items-stretch"
    >
      <div class="card shadow-sm h-100 text-center">
        <img
          [src]="house.imageUrl"
          alt="{{ house.name }}"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <h3 class="card-title">{{ house.name }}</h3>
          <p class="card-text" *ngIf="house.status === 'For Sale'">
            {{ house.price | currency : "USD" : true }}
          </p>
          <p class="card-text" *ngIf="house.status !== 'For Sale'">
            {{ house.status }}
          </p>
          <p class="card-text">{{ house.description }}</p>
          <a [routerLink]="['/house', house.id]" class="btn btn-dark mt-2">
            View Details
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
