<form (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input
    id="name"
    type="text"
    [(ngModel)]="newHouse.name"
    name="name"
    required
  />

  <label for="city">City:</label>
  <input
    id="city"
    type="text"
    [(ngModel)]="newHouse.location.city"
    name="city"
    required
  />

  <label for="state">State:</label>
  <input
    id="state"
    type="text"
    [(ngModel)]="newHouse.location.state"
    name="state"
    required
  />

  <label for="zip">zip:</label>
  <input
    id="zip"
    type="text"
    [(ngModel)]="newHouse.location.zip"
    name="zip"
    required
  />

  <label for="description">Description:</label>
  <input
    id="description"
    type="text"
    [(ngModel)]="newHouse.description"
    name="description"
    required
  />

  <label for="imageUrl">Image URL:</label>
  <input
    id="imageUrl"
    type="text"
    [(ngModel)]="newHouse.imageUrl"
    name="imageUrl"
    required
  />

  <label for="history">Historic Details:</label>
  <textarea
    id="history"
    [(ngModel)]="newHouse.history"
    name="history"
  ></textarea>

  <button type="submit">Add Haunted House</button>
  <button routerLink="/">Back to List</button>
</form>
