<div *ngIf="hauntedHouse">
  <h2>Edit Haunted House</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label"> Name:</label>
      <input type="text" [(ngModel)]="hauntedHouse.name" name="name" required />
    </div>

    <div class="'mb-3">
      <label for="city" class="form-label"> City:</label>
      <input type="text" [(ngModel)]="hauntedHouse.location.city" name="city" />
    </div>

    <label>
      State:
      <input
        type="text"
        [(ngModel)]="hauntedHouse.location.state"
        name="state"
      />
    </label>

    <label>
      Zip:
      <input type="text" [(ngModel)]="hauntedHouse.location.zip" name="zip" />
    </label>

    <label>
      Description:
      <textarea
        [(ngModel)]="hauntedHouse.description"
        name="description"
      ></textarea>
    </label>

    <label>
      Image URL:
      <input type="text" [(ngModel)]="hauntedHouse.imageUrl" name="imageUrl" />
    </label>

    <label>
      Historical Details:
      <textarea [(ngModel)]="hauntedHouse.history" name="history"></textarea>
    </label>

    <button type="submit">Save</button>
    <button (click)="onDelete()">Delete</button>
    <button routerLink="/">Back to Details</button>
  </form>
</div>
